{% extends './layout.html' %}
{% block title %}Catalogo de productos{% endblock %}
{% block body %}

<style>
    body {
        background-color: rgb(234, 247, 247);
    }
</style>

<div class="container text-center mt-4">
    <h1 class="display-4">Productos</h1>
    <a href="/cargar" class="btn btn-success mx-2"><i class="bi bi-plus-lg"></i>Nuevo producto</a>
</div>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-center">
        <div class="d-flex align-items-center">
            <select class="form-select me-2" id="categoria" name="categoria">
                <option selected>Seleccionar categoría</option>
                {% for fila in categorias %}
                <option value="{{ fila[0] }}">{{ fila[1] }}</option>
                {% endfor %}
            </select>
            <form class="d-flex" role="search">
                <input class="form-control form-control-sm me-2" type="search" placeholder="Producto" aria-label="Search" style="width: 400px;" name="buscar"> <!-- Modificado: Establecer un ancho personalizado -->
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>


<!-- SELECT () FROM (TABLA) WHERE () LIKE ‘%’; 
paginado -->


<!-- SELECT () FROM (TABLA) WHERE () LIKE ‘%’; -->

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4">
        <li class="page-item">
            {%if 1!=actual%}
            <a class="page-link" href="/anterior" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {%else%}
            <a class="page-link disabled" href="/anterior" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {%endif%}
        </li>
        {%for x in range(1, can_paginas+1)%}
        {%if actual==x%}
        <li class="page-item active"><a class="page-link" href="/pagina/{{x}}">{{x}}</a></li>
        {%else%}
        <li class="page-item"><a class="page-link" href="/pagina/{{x}}">{{x}}</a></li>
        {%endif%}
        {%endfor%}
        <li class="page-item">
            {%if can_paginas!=actual %}
            <a class="page-link" href="/siguiente" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {%else%}
            <a class="page-link disabled" href="/siguiente" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {%endif%}
        </li>
    </ul>
</nav> 
<div class="container mt-4">
    {%for x in tabla%}
    {% if loop.index0 % 3 == 0 %}
    <div class="row mb-4">
    {% endif %}
        <div class="col-md-4 mt-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename=x[6]) }}" class="card-img-top img-fluid" alt="..." style="max-width: 100%; height: 200px; object-fit: contain;">
                <hr class="my-1"> 
                <div class="card-body">  
                    <h3><small class="text-body-secondary">Nombre: </small>{{x[1]}}</h3>
                    <h3><small class="text-body-secondary">Precio: </small>${{x[2]}}</h3>
                    <h3><small class="text-body-secondary">Cantidad: </small>{{x[4]}}</h3>
                    <h3><small class="text-body-secondary">Descripcion: </small>{{x[3]}}</h3>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="/eliminar?id_producto={{x[0]}}" class="btn btn-danger mx-2">Eliminar</a>
                        <a href="/modificar?id_producto={{x[0]}}" class="btn btn-warning mx-2">Modificar</a>
                    </div>
                </div>
            </div>
        </div>
    {% if loop.index0 % 3 == 2 or loop.last %}
        </div>
    {% endif %}
    {%endfor%}  
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4">
        <li class="page-item">
            {%if 1!=actual%}
            <a class="page-link" href="/anterior" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {%else%}
            <a class="page-link disabled" href="/anterior" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {%endif%}
        </li>
        {%for x in range(1, can_paginas+1)%}
        {%if actual==x%}
        <li class="page-item active"><a class="page-link" href="/pagina/{{x}}">{{x}}</a></li>
        {%else%}
        <li class="page-item"><a class="page-link" href="/pagina/{{x}}">{{x}}</a></li>
        {%endif%}
        {%endfor%}
        <li class="page-item">
            {%if can_paginas!=actual %}
            <a class="page-link" href="/siguiente" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {%else%}
            <a class="page-link disabled" href="/siguiente" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {%endif%}
        </li>
    </ul>
</nav> 
{% endblock %}