{% extends './layout.html' %}
{% block title %}Catalogo de productos{% endblock %}
{% block body %}
<div class="container text-center mt-4">
    <h1 class="display-4">Productos</h1>
    <a href="/cargar" class="btn btn-success mx-2"><i class="bi bi-plus-lg"></i>Nuevo producto</a>
</div>
<div class="container mt-4">
    {%for x in tabla%}
    {% if loop.index0 % 3 == 0 %}
    <div class="row mb-4">
        {% endif %}
        <div class="col-md-4 mt-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename=x[5]) }}" class="card-img-top img-fluid" alt="..."
                    style="max-width: 100%; height: auto;">
                <div class="card-body">
                    <h3><small class="text-body-secondary">Nombre: </small>{{x[1]}}</h3>
                    <h3><small class="text-body-secondary">Precio: </small>${{x[2]}}</h3>
                    <h3><small class="text-body-secondary">Descripcion: </small>{{x[3]}}</h3>
                </div>
            </div>
        </div>
        {% if loop.index0 % 3 == 2 or loop.last %}
    </div>
    {% endif %}
    {%endfor%}
</div>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <h1>Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in tabla %}
            <tr>
                <td>{{ producto[1] }}</td>
                <td>{{ producto[2] }}</td>
                <td>{{ producto[3] }}</td>
                <td>{{ producto[4] }}</td>
                <td><img src="{{ url_for('static', filename=producto[5]) }}" alt="Imagen de Producto" height="100"></td>
                <td><a href="/eliminar/{{ producto[0] }}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>




{% endblock %}