{% extends './layout_sesion.html' %}
{% block title %}Validar usuario{% endblock %}
{% block body %}
<br>
<br>
<br>
<div class="container text-center mt-4">
  <form action="/datos_usuario" method="POST">
    <div class="row  mx-auto d-flex justify-content-center align-items-center">
      <div class="col-md-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h2>{{ message }}</h2> 
                <!-- Hacerlo mas bello -->
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h5>{{usuario}}</h5>
        <label for="passw" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="passw" name="passw" required>
      </div>
    </div>
    <div class="row mt-4 mx-auto d-flex justify-content-center align-items-center">
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Validar usuario</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}